.topnav {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
}
.logo{
  width: 5vw;
  height: 5vw;
  float: left;
  display: block;
  padding-left: 2%;
  padding-right: 15%;
  padding-top:1%;
}
.topnav a {
  float: right;
  display: block;
  color: rgb(0, 0, 0);
  padding: 2% 2%;
  text-decoration: none;
  font-size: 3vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.topnav{
  position:fixed;
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  top: 0;
}
.topnav a:hover:not(a.active),

.topnav button:hover:not(a.active, ) {
  background-color: #aeaeae;
  color: black;
}