.topnav{
  position:fixed;
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: medium solid #000000;
  z-index: 1;
}
nav .logo{
  width: 3.5vw;
  height: 3.5vw;
  float: left;
  display: block;
  padding-left: 2%;
  padding-top: 1%;
}
.topnav a {
  float: right;
  display: block;
  color: rgb(0, 0, 0);
  padding: 2% 2%;
  text-decoration: none;
  font-size: 1.5vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topnav a.active {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  nav .logo {
     width: 5vw;
     height: 5vw;
   }
 
  .topnav a {
     display: block;
     text-align: center;
     font-size: 3vw;
     padding: 2% 2%;
   }
 }
