.topnav {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
}

.topnav a {
  float: right;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.topnav{
  border-bottom: 2px solid black;
}
.topnav a:hover:not(a.active),

.topnav button:hover:not(a.active, ) {
  background-color: #aeaeae;
  color: black;
}

.topnav a,
.dropdown-content a,
.dropdown-button {
  font-size: 1.5vw;
}